pool:
  name: Arm64
  vmImage: 'ubuntu-22.04'

trigger:
- main
resources:
- repo: self
variables:
  imagePullSecret: 'regcred'
stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    steps:

    - task: KubernetesManifest@0
      displayName: Deploy to Kubernetes cluster
      inputs:
        kubernetesServiceConnection: K8SOracleCloud
        namespace: redis 
        action: deploy
        enableKubectlCommand: true
        arguments: --insecure-skip-tls-verify
        manifests: |
          $(Build.SourcesDirectory)/k8s/redis-namespace.yaml
          $(Build.SourcesDirectory)/k8s/redis-service.yaml
          $(Build.SourcesDirectory)/k8s/redis-commander-deployment.yaml
          $(Build.SourcesDirectory)/k8s/redis-commander-certificate.yaml
          $(Build.SourcesDirectory)/k8s/redis-commander-service.yaml
          $(Build.SourcesDirectory)/k8s/redis-commander-ingress.yaml
          $(Build.SourcesDirectory)/k8s/redis-deployment.yaml

        containers: 'redis:latest'
